@font-face {
  font-family: 'Dsdigi';
  src: url('../fonts/ds-digi.ttf');
}

.calc_btn {
	padding: 1px;
}

div.calc_btn > div{
	width: 100%;
}

.calc_btn p{
	line-height: 50px;
	margin: 0px;
}

.btn{
	padding: 0px;
}

.btn p{
	font-size: 1.7em;
	font-weight: bold; 
}

.display_interface{
	padding: 1px;
}

.display_interface > div{
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 1px solid #999999;

	height: 50px;
	padding: 0px 10px;
}

.display_interface p{
	line-height: 50px;
	text-align: right;

	font-size: 1.5em;
	font-family: "Dsdigi", "Helvetica Neue","Helvetica","Arial","sans-serif";
}

.header{
	margin-bottom: 30px;
}

.footer{
	margin-top: 30px;
}